<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Un exemple de traitement de formulaire HTML</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1> Quelques personnalités du monde scientifique : </h1>
       <form action = "/" method="POST">
            {% for personnalite in personnes %}
                {% set index = personnes.index(personnalite) %}
                <div>
                    <input type="checkbox" id="{{ index }}" name="{{ index }}">
                    <label for="{{ index }}">{{ personnalite['nom'] }} {{ personnalite['prenom'] }}</label>
                </div>
            {% endfor %}
            <input type="submit" name="validation" value="Supprimer">
            <p><strong>Saisir le nom et le prénom</strong></p>
            <p><input type="text" name="nom" placeholder="NOM">    <input type="text" name="prenom" placeholder="Prénom"></p>
            <input type="submit" name="validation" value="Ajouter">
        </form>
    </body>
</html>