<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Ma première page HTML avec Flask</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/static/style.css">
    </head>
    <body>
        <h1>Hello world !</h1>
        <p>La variable texte : {{texte}}</p>
        <p>
            La variable liste (on peut accéder à ses éléments ou l'afficher comme en Python) : {{liste[0]}} ou {{liste}}
        </p>
        <p>
            La variable dictionnaire {{dictionnaire["cle1"]}} ou {{dictionnaire["cle2"]}} ou {{dictionnaire}}
        </p>
    </body>
</html>
