<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Somme de deux nombres</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/static/style.css">
    </head>
    <body>
        <h1> La somme est :</h1>
        <p><strong>{{ nombre1 }} + {{ nombre2 }} = {{ somme }}</strong></p>
        <p><a href = "/">Retour</a></p>
    </body>
</html>